.row.upcoming
  %a.past(href="#{page_path('See the seahorses at the Monterey Bay Aquarium and Backpack to the Big Sur hot springs and Run the beaches of Santa Barbara and Get a photo with Mickey at Disneyland'.parameterize)}")
    .large-4.columns
      .row.panel
        .large-3.columns
          = image_tag 'home/monterey_bay_aquarium.jpg'
        .large-9.columns
          %h6
            See the seahorses at the Monterey Bay Aquarium
    .large-4.columns
      .row.panel
        .large-3.columns
          = image_tag 'home/sykes_hot_springs.jpg'
        .large-9.columns
          %h6
            Backpack to the Big Sur hot springs
    .large-4.columns
      .row.panel
        .large-3.columns
          = image_tag 'home/santa_barbara.jpg'
        .large-9.columns
          %h6
            Run the beaches of Santa Barbara
    .large-4.columns
      .row.panel
        .large-3.columns
          = image_tag 'home/disneyland.jpg'
        .large-9.columns
          %h6
            Get a photo with Mickey at Disneyland
